.scheduled-domain.static {
  position: absolute;
  padding-right: 3px;
}

li.lesson-plan i.icon-bookmark {
  color: #AAA;
}

.clone-lesson-plan, .delete-lesson-plan {
  display: inline;
}

h4#print {
  float: right;
}