.row
  .span8.offset2
    %h1 Oops!

    %p You have encountered a software error.

    %p We are sorry that your work has been interrupted.

    %p An email notification has already been sent to the programmer, who will investigate the problem immediately. We know your planning time is very tight, so we will fix the problem as soon as possible.

    %h3= link_to "Go back home?", root_path
