%p
  %strong Key

%p Regular = Interdisciplinary Domain From CKF

%p
  %u Underlined
  \= Custom Interdisciplinary Domain
  
%p
  %i Italic
  \= Custom Subject Topic

%p{:style => 'margin-bottom: 35px;'}
